@import url("./fonts/fa/fontIranYekan.css");
@import "tailwindcss";
@plugin "daisyui";
:root {
  --window-inner-height: 404px;
}
@theme {
  --font-IRANYekanXFaNum: "IRANYekanXFaNum", "sans-serif";
  --color-digi-red: #ef394e;
  --color-digi-red-dark: #d32f2f;
  --color-digi-gray: #f0f0f1;
  --color-digi-black: #0c0c0c;
  --color-neutral-000: #fff;
  --color-neutral-100: #f0f0f1;
  --color-icon-high-emphasis: #424750;
  --color-neutral-200: #e0e0e2;
  --color-button-black: #0c0c0c;
  --color-neutral-400: #a1a3a8;
  --color-icon-low-emphasis: #a1a3a8;
  --spacing-base: 4px;
  --global-radius: 8px;
  --color-neutral-700: #3f4064;
  --color-neutral-600: #62666d;
  --color-hint-text-caution-rgb: 245, 127, 23;
  --color-hint-text-caution: #f57f17;
  --color-button-secondary: #19bfd3;
  --color-icon-secondary: #19bfd3;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*,
body {
  font-family: var(--font-family);
}

body {
  font-family: "IRANYekanXFaNum", "sans-serif";
  min-height: var(--window-inner-height);
  background-color: var(--color-neutral-000);
  overflow: auto;
}

/* تنظیم فونت پیش‌فرض برای کل بادی */
@layer base {
  body {
    @apply font-sans;
  }
}

body,
html {
  direction: rtl;
  height: 100%;
  width: 100%;
}

img {
  position: relative;
  overflow: hidden;
}

img[alt]::after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: transparent;
  text-align: center;
  content: attr(alt);
  width: 100%;
  height: 100%;
  background: url("https://nexuhaven-statics-public.nexuhaven.com/digikala-ecommerce-final-project-reactjs/assets/images/svg/image-placeholder.svg")
    50% center / contain no-repeat rgb(255, 255, 255);
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-h4 {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2.1;
}
.text-button-2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.17;
}
