@import "tailwindcss";

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-DemiBold.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-DemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-DemiBold.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-DemiBold.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-DemiBold.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-DemiBold.svg#IRANYekanXFaNum-DemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Black.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Black.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Black.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Black.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Black.svg#IRANYekanXFaNum-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Bold.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Bold.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Bold.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Bold.svg#IRANYekanXFaNum-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Heavy.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Heavy.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Heavy.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Heavy.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Heavy.svg#IRANYekanXFaNum-Heavy")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum ExtraBlack";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBlack.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBlack.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBlack.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBlack.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBlack.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBlack.svg#IRANYekanXFaNum-ExtraBlack")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBold.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBold.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBold.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBold.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-ExtraBold.svg#IRANYekanXFaNum-ExtraBold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Light.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Light.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Light.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Light.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Light.svg#IRANYekanXFaNum-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Medium.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Medium.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Medium.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Medium.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Medium.svg#IRANYekanXFaNum-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Regular.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Regular.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Regular.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Regular.svg#IRANYekanXFaNum-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Thin.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Thin.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Thin.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Thin.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-Thin.svg#IRANYekanXFaNum-Thin")
      format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-UltraLight.eot");
  src: url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-UltraLight.woff2")
      format("woff2"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-UltraLight.woff")
      format("woff"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-UltraLight.ttf")
      format("truetype"),
    url("../assets/fonts/fa/IRANYekanX/IRANYekanXFaNum-UltraLight.svg#IRANYekanXFaNum-UltraLight")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
body,
html {
  direction: rtl;
}

img {
  position: relative;
  overflow: hidden;
}

img[alt]::after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: transparent;
  text-align: center;
  content: attr(alt);
  width: 100%;
  height: 100%;
  background: url("https://nexuhaven-statics-public.nexuhaven.com/digikala-ecommerce-final-project-reactjs/assets/images/svg/image-placeholder.svg")
    50% center / contain no-repeat rgb(255, 255, 255);
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@theme {
  --font-IRANYekanXFaNum: "IRANYekanXFaNum", "sans-serif";
  --color-neutral-000: #fff;
  --color-neutral-100: #f0f0f1;
  --color-neutral-800: #23254e;
  --color-button-secondary: #19bfd3;
  --color-icon-secondary: #19bfd3;
  --color-icon-high-emphasis: #424750;
  --color-button-black: #0c0c0c;
  --color-neutral-200: #e0e0e2;
  --color-button-black: #0c0c0c;
  --color-neutral-400: #a1a3a8;
  --color-icon-low-emphasis: #a1a3a8;
  --spacing-base: 4px;
  --global-radius: 8px;
  --color-neutral-700: #3f4064;
  --color-neutral-100: #f0f0f1;
  --color-icon-high-emphasis: #424750;
  --color-neutral-200: #e0e0e2;
  --color-button-black: #0c0c0c;
  --color-neutral-400: #a1a3a8;
  --color-icon-low-emphasis: #a1a3a8;
  --spacing-base: 4px;
  --global-radius: 8px;
  --color-neutral-600: #62666d;
  --color-hint-text-caution-rgb: 245, 127, 23;
  --color-hint-text-caution: #f57f17;
  --color-button-black: #0c0c0c;
}
body {
  font-family: "IRANYekanXFaNum", "sans-serif";
  background-color: var(--color-neutral-000);
  overflow: auto;
}
.login-box-link {
  border: 1px solid var(--color-neutral-200);
  background-color: transparent;
  color: var(--color-button-black);
  padding: calc(2 * var(--spacing-base)) calc(4 * var(--spacing-base));
  margin-left: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.17;
  border-radius: var(--global-radius);
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: top 0.3s ease-in-out;
}
