.headerMiddleLoginBox {
}
.loginBoxLink {
  border: 1px solid var(--color-neutral-200);
  background-color: transparent;
  color: var(--color-button-black);
  padding: calc(2 * var(--spacing-base)) calc(4 * var(--spacing-base));
  margin-left: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.17;
  border-radius: var(--global-radius);
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: top 0.3s ease-in-out;
}
